/* body */
 body {
    background-color:rgb(255, 249, 249);
  
}
/* navigation bars*/
.header{
    position: relative;
    width:auto;
    height: 35%;

}
.title{
    color:rgb(0, 0, 0)
}
span{
    color:red
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  nav ul li {
    float:left;
  }
 
  
  nav ul li a {
    display:inline-block;
    color: white;
    text-align:left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
 nav ul li a:hover {
    background-color: #111;
  }
  /* image*/ 
   img{
    display:block;
    border-radius:50%;
    margin-left: 38%;
    margin-top: 0%;
    border:5px solid black;
   }

.intro{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    text-align:center;
    font-size: large;
}



