*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-image:url(bg1.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
}

 .box{
    border:5px solid black;
    width:100%;
    height:250px;
} 
/* NAVIGATION*/
.header{
    height:72px;
}
nav {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
nav ul{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
  
    }
    nav ul li a{
        display:flex;
        flex-wrap: wrap;
        font-size: 25px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 22px 36px;

    }
    nav ul li a:hover{
        background-color: rgba(187, 125, 66, 0.67);
       
        
    }
    #search{
        height:25px;
        margin-top: 20px;
        border-radius: 50px;
    }
.title{
    color: rgb(0, 0, 0);
    margin: 19px 0px 13px 9px;

}
span{
    color:red
}
/*........Body.......*/
/*........
..........\
.........*/
.box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:720px;
    padding-top: 180px;
    padding-bottom: 180px;
}
/* .projects{ */
    /* border:5px solid red; */
    /* min-width: 515px; */

/* } */
.details{
    /* border:5px solid red; */
    max-width: 500px;

}
.pic{
    /* border:5px solid red; */
    min-width:580px;
}
.pic img{
    height: 485px;
    width: 535px;
    border:2px solid black;
    border-radius: 50%;
    
}
#me{
    margin-bottom: 115px;
}

h2{
  text-align: center;
  margin-bottom: 8px;
  font-size: 30px;
}
#info{
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.75px;
    text-align: center;
    font-style: oblique;
}
#name{
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: center;
    font-style:bold;
    padding-bottom: 50px;
}

p{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1.25px;
    text-align: center;
}

/* project sectionnnnn
........
.,.....*/
    .box2{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:720px;
    padding-top: 180px;
    padding-bottom: 180px;
    background-image:url(bg1.jpeg);
    background-repeat:no-repeat;
    background-size: cover;

    }
    img{
        height: 485px;
        width: 535px;
        /* border:2px solid black; */
        
    }
/*...Contact....*/
.contact{
    background-image:url(bg1.jpeg);
    background-repeat:no-repeat;
    background-size: cover;

}

