*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    /* background-image:url(bg1.jpeg);
    background-repeat:no-repeat;
    background-size: cover; */
}

 /* .box{
    border:5px solid black;
    width:100%;
    height:250px; */

/* NAVIGATION*/
.header{
    height:72px;
    background-color: black;
    
}
nav {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
nav ul{
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
  
    }
    nav ul li a{
        display:flex;
        flex-wrap: wrap;
        font-size: 25px;
        color: rgb(255, 247, 247);
        text-decoration: none;
        padding: 22px 36px;

    }
    nav ul li a:hover{
        background-color: rgba(57, 57, 57, 0.67);
       
        
    }
    #search{
        height:30px;
        margin-top: 20px;
         width: 130px;
        border-radius: 50px;
        background-color: hwb(175 6% 5%);
    }
.title{
    color: rgb(255, 255, 255);
    margin: 19px 0px 13px 9px;

}
span{
    color:hwb(175 6% 5%);
}
/*........Body.......*/
/*........
..........\
.........*/
.box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:720px;
    padding-top: 180px;
    padding-bottom: 180px;
    background-color: #000000;
    color: hwb(0 100% 0%);
}
/* .projects{ */
    /* border:5px solid red; */
    /* min-width: 515px; */

/* } */
.details{
    /* border:5px solid red; */
    max-width: 500px;

}
.pic{
    /* border:5px solid red; */
    min-width:580px;
}
.pic img{
    height: auto;
    width: 535px;
    border:10px solid black;
    border-radius: 50%;
    
}
#me{
    margin-bottom: 115px;
    color:hwb(175 6% 5%);
}

h2{
  text-align: center;
  margin-bottom: 8px;
  font-size: 30px;
}
#info{
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 0.75px;
    text-align: center;
    font-style: oblique;
}
#name{
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: center;
    font-style:bold;
    padding-bottom: 50px;
}

p{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1.25px;
    text-align: center;
}

/* project sectionnnnn
........
.,.....*/
    .box2{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:720px;
    padding-top: 180px;
    padding-bottom: 180px;
    background-color:#ffffff;
    }
   
    img{
        height:340px;
        width: 535px;
        border:10px solid black;
        
    }
/*...Contact....*/
.contact{
    background-image:url(bg1.jpeg);
    background-repeat:no-repeat;
    background-size: cover;

}

@media screen and (min-width:320px) and (max-width:480px){

    .header{
        height:500px;
        background-color: black;
        
    }
    nav {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        
    }
    nav ul{
        list-style-type: none;
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
      
        }
        nav ul li a{
            display:flex;
            flex-wrap: wrap;
            font-size: 25px;
            color: rgb(255, 247, 247);
            text-decoration: none;
            padding: 22px 36px;
    
        }
        nav ul li a:hover{
            background-color: rgba(57, 57, 57, 0.67);
           
            
        }
        #search{
            height:30px;
            margin-top: 20px;
             width: 130px;
            border-radius: 50px;
            background-color: hwb(175 6% 5%);
        }
    .title{
        color: rgb(255, 255, 255);
        margin: 19px 0px 13px 9px;
    
    }
    span{
        color:hwb(175 6% 5%);
    }
   /*........Body.......*/
   /*........
   ..........\
   .........*/
   .box1{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       height:1065px;
       padding-top: 125px;
       padding-bottom: 85px;
       background-color: #2f2c2c;
       color: hwb(0 100% 0%);
}
   
   /* .projects{ */
       /* border:5px solid red; */
       /* min-width: 515px; */
   
   /* } */
   .details{
       /* border:5px solid red; */
       max-width: 500px;
   
   }
   .pic{
       /* border:5px solid red; */
       min-width:230px;
   }
   .pic img{
       height:210px;
       width: 210px;
       border:3px solid black;
       border-radius: 50%;}
       
   
   #me{
       margin-bottom: 115px;
       color:hwb(175 6% 5%);
   }
   
   h2{
     text-align: center;
     margin-bottom: 8px;
     font-size: 30px;
   }
   #info{
       font-size: 25px;
       line-height: 1.5;
       letter-spacing: 0.75px;
       text-align: center;
       font-style: oblique;
   }
   #name{
       font-size: 30px;
       line-height: 1.5;
       letter-spacing: 1.5px;
       text-align: center;
       font-style:bold;
       padding-bottom: 50px;
   }
   
   p{
       font-size: 20px;
       line-height: 1.5;
       letter-spacing: 1.25px;
       text-align: center;
   }
   
   /* project sectionnnnn
   ........
   .,.....*/
       .box2{
           display: flex;
       flex-wrap: wrap;
       justify-content: space-around;
       height:1065px;
       padding-top: 75px;
       padding-bottom: 180px;
       background-color:white

   
       }
       img{
           height:210px;
           width:210px;
           border:3px solid black; }
           
      
   /*...Contact....*/
   .contact{
       background-color: #a18171;
   } 
   }
